api.pyrofar.com {
    reverse_proxy backend:8000
}

livekit.pyrofar.com {
    reverse_proxy livekit:7880
}

app.pyrofar.com {
    reverse_proxy frontend:80
}

dashboard.pyrofar.com {
    reverse_proxy frontend:80
}
